<div id="search-menu-view">
	<div class="search-menu-search">
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-search"></span></span>
		  <input type="text" class="form-control" placeholder="Search for Movies, Actors &amp; TV shows" aria-describedby="basic-addon1">
		</div>
		<button class="btn btn-primary">Surprise Me</button>
		<div class="clear-fix"></div>
	</div>
	<ul class="search-menu-social">
		<li class="fa fa-facebook"></li>
		<li class="fa fa-twitter"></li>
		<li class="fa fa-google-plus"></li>
		<li class="fa fa-rss"></li>
	</ul>
	<div class="clear-fix"></div>
</div>